<head>
    <link rel="stylesheet" href="/css/login_style.css"/>
</head>

<div class="login-page">
    <div class="form">
    <h1>LOGIN</h2>
        <form method="POST" class="login-form">
            {{#if error}}
            <p class="auth-error">{{error}}</p>
            {{/if}}
            <input type="email" id="email" name="email" placeholder="username"/>
            <input type="password" id="password" name="password" placeholder="password"/>
            <button type="submit" value="Login">login</button>

        </form>
    </div>
</div>